/*
 * Bill
 */
.list-overflow {
	height: 132px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ddd;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-overflow-item {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	margin: -1px;
	padding: 10px 15px;
	position: relative;
}

.list-overflow-item label {
	width: 110px;
}

#comment {
	resize: none;
}

.user-amount {
	height: 20px;
}