<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acsys.grouping.dao.IGroupingDao">
	<resultMap type="grouping" id="groupingMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="memberNum" column="member_num" />
		<result property="creatorId" column="creator_id" />
		<result property="creatorName" column="creator_name" />
		<result property="created" column="created" />
		<result property="modified" column="modified" />
		<result property="lastTime" column="last_time" />
		<result property="remark" column="remark" />
		<result property="del_flag" column="delFlag" />
	</resultMap>

	<select id="getGroupingById" resultMap="groupingMap">
		select * from grouping where id=#{id}
	</select>
	
	<select id="getAllGroupings" resultType="List" resultMap="groupingMap">
		select * from grouping where del_flag='0' order by name
	</select>

	<insert id="addGrouping" useGeneratedKeys="true" keyProperty="id">
		insert
		into grouping (name,member_num,creator_id,creator_name,created,modified,last_time,remark,del_flag)
		values
		(#{name},#{memberNum},#{creatorId},#{creatorName},#{created},#{modified},#{lastTime},#{remark},#{delFlag})
	</insert>
	
	<update id="updateGrouping" parameterType="grouping">
		update grouping set name=#{name}, member_num=#{memberNum}, modified=#{modified}, last_time=#{lastTime}, remark=#{remark}, del_flag=#{delFlag}
		where id=#{id}
	</update>
</mapper>